<div style="margin: 10px 15px !important">
  <mat-card fxLayout="row" fxFlex="1 1 100%" fxFlexFill>
    <mat-stepper labelPosition="bottom" orientation="horizontal" [linear]="isLinear" #stepper color='accent' fxFlexFill>
      <mat-step>
        <ng-template matStepLabel>Select File</ng-template>
        <!-- <div draggable="true" ngClass="{{dragAreaClass}}" class="drop-border-dashed" fxLayout="row"
          fxLayoutAlign="center center">
          <div class="row">
            <div class="col-md-12 text-center">
              Drag files here
              <a href="javascript:void(0)" (click)="file.click()">
                or click to open
              </a>
              <input type="file" #file [multiple]="false" (change)="onFileChange($event)" style="display:none" />
              <div class="dragged-files-wrapper" *ngIf="draggedFiles">
                <div class="file" *ngFor="let file of draggedFiles">
                  {{file}}
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="container drop-border-dashed" appDnd (fileDropped)="onFileDropped($event)" fxLayout="row"
          fxLayoutAlign="center center">
          <input type="file" #fileDropRef id="fileDropRef" [multiple]="true" (change)="fileBrowseHandler($event)"
            style="display:none" />
          <div fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="center center">
            <img src="assets/img/dnd/insert_photo_black_48dp.svg" alt="">
            <div fxLayout="row" fxLayoutGap="10px">
              <label>Drag and drop file here or</label>
              <label for="fileDropRef" class="browse-file "> Browse for file</label>
            </div>
            <label class="support-label">Supports Excel, CSV, SqlLite</label>
          </div>
        </div>
        <div class="files-list">
          <div class="single-file" *ngFor="let file of files; let i = index" fxLayoutAlign="start start"
            fxLayout="column" fxLayoutGap="5px">
            <!-- <img src="assets/img/dnd/ic-file.svg" width="45px" alt="file"> -->
            <div fxLayout="row" fxFlexFill fxFlex="1 1 100%" fxLayoutGap="10px" fxLayoutAlign="space-between center">
              <div fxFlex="1 1 80%" class="info" fxLayout="column" fxLayoutGap="10px">
                <div fxLayout="row" fxFlex="1 1 100%" fxLayoutAlign="space-between center">
                  <h4 class="name">
                    Uploading...{{ file?.name }}
                  </h4>
                  <p class="size">
                    {{ formatBytes(file?.size) }}
                  </p>
                </div>
                <app-progress [progress]="file?.progress"></app-progress>
              </div>
              <label style="cursor: pointer;" (click)="deleteFile(i)" fxFlex="1 1 5%" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
                <mat-icon style="padding: 5px">cancel</mat-icon>Cancel
              </label>
              <button disabled class="upload-btn" fxFlex="1 1 10%" mat-raised-button color="accent">
                <mat-icon style="padding: 5px">cloud_upload</mat-icon>Upload
              </button>
            </div>
          </div>
        </div>

        <div fxFlex="row" fxLayoutAlign="center center" fxFlex="1 1 100%" fxLayoutGap="16px">
          <button disabled  class="prev-next-btn" fxFlex="1 1 10%" mat-raised-button color="accent">
            Previous
          </button>
          <button [disabled]="files.length === 0" class="prev-next-btn" fxFlex="1 1 10%" mat-raised-button color="accent">
            Next
          </button>
        </div>

      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Preview</ng-template>
        <p>Preview</p>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-stepper>
  </mat-card>
</div>
