<div fxLayout="row" fxFlexFill fxFlexFill>
  <div fxLayout="column" fxFlex="1 1 100%" fxFlexFill>
    <div style="padding: 10px 25px" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100%">
      <h2>Select File</h2>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <mat-icon aria-hidden="false" aria-label="Search icon">search</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Notifications">notifications</mat-icon>
        <label>|</label>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px"> <label> Jones Ferdinand </label> <mat-icon aria-hidden="false" aria-label="Profile">person</mat-icon>
        </div>
      </div>
    </div>

    <div style="height: 100vh">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
