/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f4f3f3;}

.mat-step-header.mat-accent .mat-step-icon-selected, .mat-step-header.mat-accent .mat-step-icon-state-done, .mat-step-header.mat-accent .mat-step-icon-state-edit{
    background-color: #ffff;
    color: rgba(0,0,0,.87);
    border: 2px solid #ffd740;
}

.mat-step-header .mat-step-label{
    color: gray !important;
}